sectionnames {
    font-size: 1.75rem!important;
    font-family: "Ubuntu"!important;
    color:rgb(64, 76, 240);
}

header.BeverageTrades {
    background-image: url("img/LiquorHeader.jpg")!important
}

header.FoodBlogs {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("img/FoodBlogHeader.jpg")!important;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  div {
	border-radius: 10px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #5570e7;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 10px;
	padding-top: 15px;
	font-size: 16px;
	font-family: "Ubuntu"!important;
	color: #ffffff;
}

#email {
	float:right;
	margin-right: 10px;
	padding-top: 20px;
	font-size: 16px;
	font-family: "Ubuntu"!important;
	color: #ffffff;
}

h4 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: "Abril Fatface"!important;
}

h5 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: "Abril Fatface"!important;
}

p1 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: "Abril Fatface"!important;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: "Ubuntu"!important;
	color: #000000;
}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 10%;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 88%;
	background-color: rgb(158, 204, 235);
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	clear: both;
	font-family: "Ubuntu"!important;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

