*{font-family: "Fairplay Display";}
h1, h2, h3, h4, h5, h6 { font-family: "Gravitas One";}


h1 strong {
    font-family: 'Gravitas One';
    color: rgb(5, 181, 235);
    font-size: 3rem;
}

h2.section-heading {
    color: rgb(5, 181, 235);
    font-size: 2.25rem!important;
}

h3.section-heading {
    color: rgb(5, 181, 235);
    font-size: 2.25rem;
}

section.subhead {
    font-size: 1.75rem;
    color: rgb(5, 181, 235);
}

p {font-size: 25px;}

a.btn-primary {
    background-color: #4066f0;
}

#about.bg-primary {
    background-color: #54aceb!important;
}

header.masthead {
    background-image: url("img/SwedClogs.jpg")
}

.text-bigger {
    font-size: 1.75rem!important;
    font-family: "Fairplay Display"!important;
    color: rgb(232, 248, 9);
}

.navbar-brand {
    color: #3e12dd!important;
}

a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #3e12dd!important;
}


a.nav-link:focus {
    color: rgba(147, 240, 247, 0.7);
}


::selection {
    color: #3e12dd!important;
    background: #212529;
    text-shadow: none;
}