*{font-family: "Ubuntu";}
h1, h2, h3, h4, h5, h6 { font-family: "Abril Fatface";}


h1 strong {
    font-family: "Abril Fatface";
    color: rgb(30, 15, 238);
    text-align: center;
    font-size: 2rem;
}

h2.section-heading {
    font-family: 'Abril Fatface'!important;
    color: rgb(5, 66, 238);
    font-size: 2.25rem!important;
    text-align: center;
}

h3.section-heading {
    font-family: 'Abril Fatface'!important;
    color:rgb(5, 66, 235);
    text-align: center;
    font-size: 2.25rem;
}

section.subhead {
    font-family: 'Abril Fatface'!important;
    font-size: 2rem;
    text-align: center;
    color: rgb(5, 181, 235);
}

p {font-size: 25px;}

a.btn-primary {
    background-color: #4066f0;
}

#about.bg-primary {
    background-color: #54aceb!important;
}

header.masthead {
    background-image: url("img/header.jpg")
}

.text-bigger {
    font-size: 1.75rem!important;
    font-family: "Abril Fatface"!important;
    text-align: center;
    color: rgb(62, 240, 240)
}

.navbar-brand {
    color: #686672!important;
}

a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #686672!important;
}


a.nav-link:focus {
    color: rgba(29, 32, 32, 0.7);
}


::selection {
    color: #3e12dd!important;
    background: #212529;
    text-shadow: none;
}

.portfolio-box .portfolio-box-caption {
    background-color: rgb(64, 76, 240)!important;
    width: 100%;
    height: 350px;
}

a.nav-link {
    color: rgb(64, 76, 240)!important;
}

hr {
    border-color:  rgb(189, 193, 245)!important;
}

i.fa {
    color: rgb(64, 76, 240)!important;
}

a  {
    color:rgb(4, 4, 8)!important;
}

.page-container {
    background-color: rgb(131, 174, 224);
}

.page-title {
    display:block;
    font-family: "Abril Fatface";
    color: rgb(30, 15, 238);
    background-color: rgb(131, 174, 224);
    background-size: 200%
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px:
}

.page-subtitle {
    display:block;
    font-family: "Abril Fatface";
    color: rgb(30, 15, 238);
    background-size: 200%
    font-size: 25px;
    text-align: center;
}

.page-container {
    width: 100%;
    height: 300px;
    background: #f1f1f1;
}

header.BeverageTrades {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("img/LiquorHeader.jpg") !important;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header.FoodBlogs {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("img/FoodBlogHeader.jpg") !important;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }