* {
    font-family: 'Cagliostro', sans-serif;
}

/* h1, h2, h3, h4, h5, h6 { font-family: "Abril Fatface";} */

h1 strong {
    /*font-family: "Abril Fatface";*/
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Cagliostro', sans-serif; */
    color: rgb(27, 35, 149) !important;
    text-align: center;
    font-size: 4rem;
}

/* control+? comments out code */

h2.section-heading {
    font-size: 2.50rem !important;
    /* font-family: 'Cagliostro', sans-serif; */
    /*font-family: 'Abril Fatface';*/
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: rgb(27, 35, 149);
}

h3.section-heading {
    /* font-family: 'Abril Fatface'!important; */
    font-family: 'Poppins', sans-serif;
    color: rgb(27, 35, 149);
    text-align: center;
    font-size: 2.25rem;
}

section.subhead {
    /* font-family: 'Abril Fatface'; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    text-align: center;
    color: rgb(5, 181, 235);
}

p {
    font-size: 25px;
}

a.btn-primary {
    background-color: #4066f0;
}

#about.bg-primary {
    background-color: #54aceb !important;
}

header.masthead {
    background-image: url("img/header.jpg")
}

.text-bigger {
    font-size: 1.50rem !important;
    /* font-family: 'Cagliostro', sans-serif; */
    /*font-family: 'Abril Fatface';*/
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #b5f504 !important;
}

.navbar-brand {
    color: #3e12dd !important;
}

a.nav-link,
#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #686672 !important;
}

a.nav-link:focus {
    color: rgba(29, 32, 32, 0.7);
}

::selection {
    color: #3e12dd !important;
    background: #212529;
    text-shadow: none;
}

.portfolio-box .portfolio-box-caption {
    background-color: rgb(64, 76, 240) !important;
    width: 100%;
    height: 350px;
}

a.nav-link {
    color: rgb(64, 76, 240) !important;
}

hr {
    border-color: rgb(189, 193, 245) !important;
}

i.fa {
    color: rgb(64, 76, 240) !important;
}

a {
    color: #b5f504;
}

#button_cover_white {
    color: white !important;
}

#button_text_black {
    color: black !important;
}

.link_text_black {
    color: black !important;
}

.page-container {
    background-color: rgb(131, 174, 224);
}

.page-title {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: rgb(30, 15, 238);
    background-color: rgb(131, 174, 224);
    background-size: 200%;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-subtitle {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: rgb(30, 15, 238);
    background-size: 200%;
    font-size: 25px;
    text-align: center;
}

.page-container {
    width: 100%;
    height: 300px;
    background: #f1f1f1;
}

/*  
header.WhereverFamilyHeader {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image:  url("../img/portfolio/Headers/WhereverFamilyBanner.jpg") !important;
    /* background-image: linear-gradient(rgba(233, 148, 88, 0.2), rgba(233, 148, 88, 0.2)), url("../img/portfolio/Headers/WhereverFamilyBanner.jpg") !important; */
    /* background-position: center center; */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
  /* } */



header.masthead.BeverageTrades {
    background-image: url("img/LiquorBannerr.jpg") !important
}

.icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 5px;
}

#resumewrapper {
    /*background-color: green; for visualization purposes */
    width: 100%;
    text-align: center;
}

#resumebuttondiv {
    /*background-color: red;  for visualization purposes */
    text-align: center
    /*display: inline-block;*/
}